## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名 肖丽雯
+ 学号 0164513

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [57]:
import pandas as pd
from pandas import Series, DataFrame
data = {'price': [78,240,11,16,8,5], 
        'number': [1,16, 1, 3,1,3], 
        'date': [1113,1112,1112,1112,1115,1113],
        'evaluation':[3,5,5,4,2,3],
       }
frame= pd.DataFrame(data, index=['chocolate', 'milk', 'cookie', 'dried mango', 'notebook','pens']) 
                     
frame

             date  evaluation  number  price
chocolate    1113           3       1     78
milk         1112           5      16    240
cookie       1112           5       1     11
dried mango  1112           4       3     16
notebook     1115           2       1      8
pens         1113           3       3      5

#### 用index的label读取某一个物品数据

In [2]:
frame.loc['chocolate']

date          1113
evaluation       3
number           1
price           78
Name: chocolate, dtype: int64

#### 选择价格>200的物品

In [3]:
frame[frame['price']>200]

      date  evaluation  number  price
milk  1112           5      16    240

#### 挑选其中和学习有关的物品，构成一个子集

In [4]:
learning=frame.loc[['notebook','pens']]
learning

          date  evaluation  number  price
notebook  1115           2       1      8
pens      1113           3       3      5

#### 读取评价那列的数据

In [5]:
frame['evaluation']

chocolate      3
milk           5
cookie         5
dried mango    4
notebook       2
pens           3
Name: evaluation, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [7]:
frame2 = frame.reindex([ 'notebook','pens', 'milk', 'cookie','chocolate', 'dried mango'])
frame2

             date  evaluation  number  price
notebook     1115           2       1      8
pens         1113           3       3      5
milk         1112           5      16    240
cookie       1112           5       1     11
chocolate    1113           3       1     78
dried mango  1112           4       3     16

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [58]:
express_fee = pd.Series([0,5,5,5,3,5], index=['chocolate', 'milk', 'cookie', 'dried mango', 'notebook','pens'])

frame['price'] = frame['price']+express_fee 
frame

             date  evaluation  number  price
chocolate    1113           3       1     78
milk         1112           5      16    245
cookie       1112           5       1     16
dried mango  1112           4       3     21
notebook     1115           2       1     11
pens         1113           3       3     10

#### 按照价格从高到底排序

In [31]:
frame.sort_values(by='price', ascending=False)

             date  evaluation  number  price
milk         1112           5      16    245
chocolate    1113           3       1     78
dried mango  1112           4       3     21
cookie       1112           5       1     16
notebook     1115           2       1     11
pens         1113           3       3     10

#### 按照收到的时间从低到高排序

In [32]:
frame.sort_values(by='date')

             date  evaluation  number  price
milk         1112           5      16    245
cookie       1112           5       1     16
dried mango  1112           4       3     21
chocolate    1113           3       1     78
pens         1113           3       3     10
notebook     1115           2       1     11

#### 得到各样物品评价的排名

In [55]:
frame['evaluation'].rank(ascending=False, method='first')

chocolate      4.0
milk           1.0
cookie         2.0
dried mango    3.0
notebook       6.0
pens           5.0
Name: evaluation, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [49]:
cost=frame['price']
cost

chocolate       78
milk           240
cookie          11
dried mango     16
notebook         8
pens             5
Name: price, dtype: int64

In [48]:
cost.sum()

358

In [40]:
cost.max()

240

In [50]:
cost.min()

5

In [51]:
cost.mean()

59.666666666666664