## 第六次练习

+ 请务必交到exer6文件夹下，**谢绝交到master下**
+ 请不要改动任何文件，拜托
+ 请在12月4日前提交。

请写一下姓名和学号：
+ 姓名  林子涵
+ 学号  0165168

### 请建立一个数据框，列出你在双十一购买的至少五样物品。
用它们的名称作为index的label，在列里列出这些物品（数据可以是虚拟的）的：
+ 价格
+ 购买的数量
+ 收到的时间（类似1113即可，表示11月13日收到）
+ 你的评价（从1到5，1表示很不好，5表示很好）

In [2]:
import pandas as pd

In [3]:
from pandas import Series, DataFrame

In [15]:
shopping = {'Price': {'notebook': 25.8, 'eyeglass': 316,'umbrella': 39,'jacket': 799,'pants': 159},
       'Amount': {"notebook": 6, 'eyeglass': 1,'umbrella': 1,'jacket': 1,'pants': 2},
       'Time': {"notebook": 1112, "eyeglass": 1116,"umbrella": 1113,"jacket": 1113,"pants": 1116},
       'assess': {"notebook": 3, "eyeglass": 4,"umbrella": 1,"jacket": 4,"pants": 5},
      }
frame1 = pd.DataFrame(shopping)
frame1

          Amount  Price  Time  assess
eyeglass       1  316.0  1116       4
jacket         1  799.0  1113       4
notebook       6   25.8  1112       3
pants          2  159.0  1116       5
umbrella       1   39.0  1113       1

#### 用index的label读取某一个物品数据

In [16]:
frame1.loc["pants"]

Amount       2.0
Price      159.0
Time      1116.0
assess       5.0
Name: pants, dtype: float64

#### 选择价格>200的物品

In [17]:
frame1[frame1["Price"] > 200]

          Amount  Price  Time  assess
eyeglass       1  316.0  1116       4
jacket         1  799.0  1113       4

#### 挑选其中和学习有关的物品，构成一个子集

In [18]:
frame1.loc[["eyeglass","notebook"],['Amount',"Price","Time",'assess']]

          Amount  Price  Time  assess
eyeglass       1  316.0  1116       4
notebook       6   25.8  1112       3

#### 读取评价那列的数据

In [19]:
frame1['assess']

eyeglass    4
jacket      4
notebook    3
pants       5
umbrella    1
Name: assess, dtype: int64

#### 根据label对数据框重新排序，按照对你的迫切程度

In [20]:
frame2 = frame1.reindex(['eyeglass', 'pants', 'umbrella', 'jacket','notebook'])
frame2

          Amount  Price  Time  assess
eyeglass       1  316.0  1116       4
pants          2  159.0  1116       5
umbrella       1   39.0  1113       1
jacket         1  799.0  1113       4
notebook       6   25.8  1112       3

#### 生成一个series，记录这些物品的快递费，然后加到价格上

In [21]:
val = pd.Series([10, 0, 0, 10, 0], index=['eyeglass', 'pants', 'umbrella','jacket','notebook'])
frame2['express'] = val
frame2["price_after"]=frame2["Price"]+val
frame2

          Amount  Price  Time  assess  express  price_after
eyeglass       1  316.0  1116       4       10        326.0
pants          2  159.0  1116       5        0        159.0
umbrella       1   39.0  1113       1        0         39.0
jacket         1  799.0  1113       4       10        809.0
notebook       6   25.8  1112       3        0         25.8

#### 按照价格从高到底排序

In [29]:
frame2.sort_values(by='Price',ascending=False)

          Amount  Price  Time  assess  express  price_after
jacket         1  799.0  1113       4       10        809.0
eyeglass       1  316.0  1116       4       10        326.0
pants          2  159.0  1116       5        0        159.0
umbrella       1   39.0  1113       1        0         39.0
notebook       6   25.8  1112       3        0         25.8

#### 按照收到的时间从低到高排序

In [23]:
frame2.sort_values(by='Time')

          Amount  Price  Time  assess  express  price_after
notebook       6   25.8  1112       3        0         25.8
umbrella       1   39.0  1113       1        0         39.0
jacket         1  799.0  1113       4       10        809.0
eyeglass       1  316.0  1116       4       10        326.0
pants          2  159.0  1116       5        0        159.0

#### 得到各样物品评价的排名

In [26]:
series1 = frame2['assess']
series1

eyeglass    4
pants       5
umbrella    1
jacket      4
notebook    3
Name: assess, dtype: int64

In [28]:
series1.rank()

eyeglass    3.5
pants       5.0
umbrella    1.0
jacket      3.5
notebook    2.0
Name: assess, dtype: float64

#### 计算一下这些物品的总花费、最大值、最小值和平均值

In [35]:
series2=frame2["price_after"]
series2.sum()

1358.8

In [36]:
series2.describe()

count      5.000000
mean     271.760000
std      323.634498
min       25.800000
25%       39.000000
50%      159.000000
75%      326.000000
max      809.000000
Name: price_after, dtype: float64